// Theme Colors
$color-base: #f05523;
$color-highlight: #f37820;

$color-shade-darkest: #f05523;
$color-shade-dark: #f37820;
$color-shade-mid: #FF9346;
$color-shade-light: #FF9346;
$color-shade-lightest: #FFCAA3;

// Font Colors
$base-font-color: #EDEDED;

$base-link-color: #FFEBA5;
$base-link-color-active: #FCDD70;
