$curse-orange: #f05523;
$curse-orange-alt-1: #FF7F56;
$curse-orange-alt-2: #FA9372;
$curse-orange-alt-3: #F9AE96;

$orange: #f37820;
$orange-alt-1: #FF9346;
$orange-alt-2: #FF9346;
$orange-alt-3: #FFCAA3;

$yellow: #ffc80b;
$yellow-alt-1: #FFD543;
$yellow-alt-2: #FCDD70;
$yellow-alt-3: #FFEBA5;

$white: #FFFFFF;
$white-alt-1: #EDEDED;
$white-alt-2: #F3F3F3;
$white-alt-3: #FBFBFB;

$slate-grey: #55565A;

$cool-grey: #7F828C;

//// Theme Colors
//$color-base: $slate-grey;
//$color-highlight: $cool-grey;
//
//$color-shade-darkest: $curse-orange;
//$color-shade-dark: $curse-orange;
//$color-shade-mid: $orange;
//$color-shade-light: $orange;
//$color-shade-lightest: $yellow;
//
//// Font Colors
//$base-font-color: $white-alt-1;
//
//$base-link-color: $curse-orange;
//$base-link-color-active: $orange;

// Theme Colors
$color-base: $slate-grey;
$color-highlight: $cool-grey;

$color-shade-darkest: #1d2027;
$color-shade-dark: #2a2f39;
$color-shade-mid: #454c5c;
$color-shade-light: #6b6f79;
$color-shade-lightest: #858991;

// Font Colors
$base-font-color: $orange;

$base-link-color: $curse-orange;
$base-link-color-active: $curse-orange-alt-1;

